# ansible/playbook.yml
- hosts: localhost
  connection: local
  become: yes # sudo 권한으로 실행
  tasks:
    - name: 1. (필수) GHCR(GitHub Registry)에 로그인
      community.docker.docker_login:
        registry: ghcr.io
        username: "{{ ghcr_username }}" # ◀ Jenkins에서 변수로 받음
        password: "{{ ghcr_password }}" # ◀ Jenkins에서 변수로 받음

    - name: 2. 배포할 폴더 생성
      file:
        path: /home/ubuntu/cj-project # (또는 jenkins 유저가 접근 가능한 경로)
        state: directory
        owner: ubuntu

    - name: 3. 로컬의 docker-compose.yml 파일을 서버 배포 경로로 복사
      copy:
        src: ./docker-compose.yml # ◀ 위에서 만든 파일
        dest: /home/ubuntu/cj-project/docker-compose.yml

    - name: 4. Docker Compose로 앱 실행 (Pull & Up)
      community.docker.docker_compose:
        project_src: /home/ubuntu/cj-project
        pull: yes # ◀ 항상 새 이미지를 pull
      environment:
        # Jenkins/Ansible에서 받은 변수를 docker-compose.yml로 전달
        FRONTEND_IMAGE_TAG: "{{ fe_image_tag }}" 
        BACKEND_IMAGE_TAG: "{{ be_image_tag }}"