# ansible/playbook.yml
- hosts: localhost
  connection: local
  become: yes 
  tasks:
    - name: 1. GHCR(GitHub Registry)에 로그인
      community.docker.docker_login:
        registry: ghcr.io
        username: "{{ ghcr_username }}"
        password: "{{ ghcr_password }}"

    - name: 2. 배포할 폴더 생성
      file:
        path: /home/ubuntu/cj-project
        state: directory
        owner: ubuntu

    # ⬇️ (수정) lookup('env') 대신 extra-var 변수 사용
    - name: 3. 데이터베이스 .env 파일 생성
      copy:
        content: "{{ db_env_content }}" 
        dest: /home/ubuntu/cj-project/db.env
        owner: ubuntu

    # ⬇️ (수정) lookup('env') 대신 extra-var 변수 사용 (번호 수정)
    - name: 4. 백엔드 .env 파일 생성
      copy:
        content: "{{ be_env_content }}" 
        dest: /home/ubuntu/cj-project/backend.env
        owner: ubuntu

    # ⬇️ (수정) lookup('env') 대신 extra-var 변수 사용 (번호 수정)
    - name: 5. 프론트엔드 .env 파일 생성
      copy:
        content: "{{ fe_env_content }}" 
        dest: /home/ubuntu/cj-project/frontend.env
        owner: ubuntu

    # ⬇️ (번호 수정)
    - name: 6. docker-compose.yml 파일을 서버 배포 경로로 복사
      copy:
        src: ./docker-compose.yml
        dest: /home/ubuntu/cj-project/docker-compose.yml

    # ⬇️ (번호 수정)
    - name: 7. Stop and remove existing containers
      community.docker.docker_compose:
        project_src: /home/ubuntu/cj-project
        state: absent
        remove_orphans: yes

    # ⬇️ (번호 수정)
    - name: 8. Docker Compose로 앱 실행 (Pull & Up)
      community.docker.docker_compose:
        project_src: /home/ubuntu/cj-project
        state: present
        pull: yes
      environment:
        FRONTEND_IMAGE_TAG: "{{ fe_image_tag }}" 
        BACKEND_IMAGE_TAG: "{{ be_image_tag }}"