name: Build and Push Docker Images

on:
  push:
    branches: [ "Jenkins_CICD" ]

jobs:
  # --- 1. 프론트엔드 빌드/테스트 작업 ---
  build-frontend:
    runs-on: ubuntu-latest
        
    steps:
      - name: 1. Checkout code
        uses: actions/checkout@v4

      - name: 2. Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}       # GitHub 유저 이름
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 3. Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: . # ◀ Dockerfile을 찾을 위치 (루트)
          file: ./frontend/Dockerfile # ◀ 사용할 Dockerfile 경로
          push: true
          # ghcr.io/[내계정]/[레포이름]/[이미지이름]:latest
          tags: ghcr.io/${{ github.repository }}/frontend:latest

  # --- 2. 백엔드 테스트 작업 ---
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 2. Login to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 3. Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./backend/Dockerfile # ◀ 사용할 Dockerfile 경로
          push: true
          tags: ghcr.io/${{ github.repository }}/backend:latest